# Django Framework
Django==4.2.7

# WSGI production server (reverse proxy like nginx)
# gunicorn==20.1.0

# Library to connect to PostgreSQL, binary to fully run without compilation on host machine
psycopg2-binary==2.9.9

# Library to manage env variables, can read from .env files
django-environ==0.11.2

# Library to serve static files from Gunicorn for example without needing Nginx
# whitenoise==6.5.0

# API Rest framework
djangorestframework

# JWT authentication
djangorestframework-simplejwt
