# Django Framework
Django==4.2.7

# Library to connect to PostgreSQL, binary to fully run without compilation on host machine
psycopg2-binary==2.9.9

# Library to manage env variables, can read from .env files
django-environ==0.11.2

