<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset Your Password</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <p>Hello {{ user.username }},</p>
    <p>We received a request to reset your password. If you didn't make this request, you can ignore this email.</p>
    <p>To reset your password, please click the link below:</p>
    <p><a href="{{ reset_url }}">Reset Password</a></p>
    <p>This link will expire in 24 hours.</p>
    <p>If the link doesn't work, copy and paste this URL into your browser:</p>
    <p>{{ reset_url }}</p>
    <p>Best regards,<br>Your Application Team</p>
</body>
</html>